<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unavailable books</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 style="color:red"><b>There is a problem with your order!</b></h2>
            <p>The following books are not available:</p>
            <ul th:each="book : ${unavailableBooks}">
                <li th:text="${book}"></li>
            </ul>
            <p>Please go back to your cart and remove these books</p>
            <a th:href="@{/shopping-cart}" class="btn btn-primary mt-2">Go back to your cart</a>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</ol>
</body>
</html>